.re {
    background-image : url(../fondonegro.jpg);
}
.asd {
    background-color : black;
    border-radius: 20px;
    border: 4px solid yellowgreen;
}
.asd:hover {
    background-color : red;
    border-radius: 20px;
    border: 4px solid black;
}

.fe{
    background-color :black;
    color: white;
    border-radius: 20px;
    border: 4px solid yellowgreen;
    width: 100px;
    height: 50px;
}

.id{
    border-radius: 10px;
    margin-bottom: 10px;
}

.nombre-producto{
    border-radius: 10px;
    margin-bottom: 10px;

}

.precio{
    border-radius: 10px;
    margin-bottom: 10px;

}