header{
    background-color: rgb(0, 0, 255);
    height: 10vh;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
main{
    background-color: rgb(255, 255, 255);
    height: 80vh;
}
footer{
    background-color: red;
    height: 10vh;
}
body{
    background-color: gray;
}
#header_logo{
    background-color:blueviolet;
    width:10vw;
    float: left;
    height: 100%;
}
#header_logo > img{
    width: 50%;
}
#header_menu{
    background-color: mediumorchid;
    width:10vw;
    float: left;
    height: 100%;
    text-align: center;
}
.material-symbols-outlined.md-36{
    font-size: 5em;;
    background-color: steelblue;
    border-radius: 25px;
}

.material-symbols-outlined.md-36:hover{
    background-color: violet;
    font-size:2.5em;
}
.material-symbols-outlined.md-36:active{
    background-color: aqua;
    font-size:3em;  
}


#header_busqueda{
    background-color: royalblue;
    width:40vw;
    float: left;
    height: 100%;
}

#header_busqueda:hover{
    background-color: blue;
    width: 10%;
    
}

#header_botones{
    background-color:green;
    width:30vw;
    float: left;
    height: 100%;
    text-align: center;
}   